# Ignore the docs directory

docs/

# Xcode project files to ignore

# User-specific settings
*.xcuserstate
*.xcuserdata/
*.xcuserdatad/
UserInterfaceState.xcuserstate

# Build products
build/
DerivedData/

# macOS system files
.DS_Store

# Xcode workspace
*.xcworkspace/xcuserdata/